.file__container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.2s;
  position: relative;
}

.file__container > img {
  object-fit: cover;
  width: 50%;
  height: 50%;
}

.file__container > div:first-child {
  position: absolute;
  padding: 10px;
  background-color: #4b4f53;
  display: flex;
  top: 0;
  left: 0;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.file__container > div > button {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  transition: all 0.2s;
  justify-content: center;
}

.file__container > div > button > span > svg {
  fill: #fff;
  font-size: 24px;
  margin-top: 2px;
  margin-left: 2px;
}

.file__info {
  border-radius: 10px;
  padding: 10px;
  position: absolute;
  bottom: -20px;
  left: 0;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 1.4rem;
}

.file__info > div {
  display: flex;
  align-items: center;
  gap: 5px;
}

.file__info > div > p:hover {
  text-decoration: underline;
}

.file__info > div p {
  color: rgb(83, 100, 113);
}

.file__info > div > svg {
  color: rgb(83, 100, 113);
}
