.tweetFeed {
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  flex: 0.6;
  gap: 10px;
}

.tweetFeed__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  position: relative;
}

.tweeted__headerScrolled {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: #fff;
}

.tweetFeed__header h1 {
  font-size: 25px;
  font-weight: 800;
}

.tweetFeed__info {
  display: grid;
  grid-template-columns: 40px 1fr;
  gap: 10px;
  width: 100%;
  /* margin-top: -2px; */
  /* margin-top: 50px; */
}

.tweetFeed__inputContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.tweetFeed__inputContainer textarea {
  border: none;
  outline: none;
  resize: none;
  padding: 10px;
  border-bottom: 1px solid rgb(211, 211, 211);
  font-family: "sans-serif roboto";
  font-size: 24px;
}

.tweetFeed__inputContainer textarea:focus {
  border-bottom: 1px solid rgb(29, 161, 242);
}

.tweetFeed__inputContainer textarea::-webkit-scrollbar {
  width: 0;
}

.tweetFeed__global {
  display: flex;
  align-items: center;
  gap: 8px;
  width: fit-content;
  padding: 7px 20px;
  margin-left: -8px;
  justify-content: center;
  transition: all 0.2s;
  cursor: pointer;
  position: relative;
}

.tweetFeed__global:hover {
  background: #1a90da1a;
  border-radius: 20px;
}

.tweetFeed__global > h2 {
  font-size: 14px;
  color: #1da1f2;
}

.tweetFeed__global > svg {
  width: 14px;
  height: 14px;
  fill: #1da1f2;
}

.tweetFeed__inputIcons {
  display: flex;
  justify-content: space-between;
}

.tweetFeed__Icons {
  display: flex;
  align-items: center;
  /* gap: 20px; */
}

.tweetFeed__tweetButton > button {
  background: #1da1f2;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 15px 50px;
  border-radius: 50px;
  color: #fff;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 8px 28px;
  font-size: 20px;
  transition: all, 0.3s;
  /* margin-left: 20px; */
}

.tweetFeed__tweetButton > button:hover {
  background: #1a91da;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.15);
}

.tweetFeed__Icons svg {
  fill: #1da1f2;
}

.tweetFeed__Icons > div {
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
}

.tweetFeed__Icons > div:hover {
  background: #1a90da1a;
  border-radius: 2000px;
}

.tweetFeed__wrap {
  padding: 10px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.15);
}

.iconStyle {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  cursor: pointer;
  transition: all 0.2s;
}

.iconStyle:hover {
  background: #1a90da1a;
  border-radius: 2000px;
}

.modal {
  position: relative;
}

.r-1m7hjod {
  height: 31px;
}

.r-1y5y3hm {
  background-color: rgb(185, 202, 211);
}

.r-92ng3h {
  width: 1px;
}

.top-margin {
  margin-top: 3px;
}

.tweetFeed__tweetButton {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.css-svgfill {
  fill: #1da1f2;
  border: 2px solid rgba(211, 211, 211, 0.438);
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.css-svgfill:hover {
  background: rgba(211, 211, 211, 0.212);
}

.tweetFeed__tweetButton {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
